source https://nuget.org/api/v2
framework >= netstandard20
storage none

nuget FSharp.Core redirects:force
nuget FSharp.Compiler.Service
nuget Microsoft.SourceLink.GitHub
nuget System.Runtime.Serialization.Formatters

nuget System.Data.SqlClient
nuget Microsoft.Data.SQLite

nuget NUnit

group SourceFiles

    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
    github Thorium/Linq.Expression.Optimizer src/Code/ExpressionOptimizer.fs

group Providers
    source https://nuget.org/api/v2
    framework >= netstandard20
    storage none

    nuget Npgsql
    nuget Npgsql.Json.NET
    nuget Npgsql.LegacyPostGIS    

group Build
    source https://nuget.org/api/v2
    framework >= netstandard20
    storage none

    nuget Fake.Core.BuildServer
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.Core.Trace
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.FSFormatting
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.Testing.NUnit
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git
    nuget System.Data.SqlClient
    nuget Npgsql 

    clitool dotnet-fake

group Scripts
    source https://nuget.org/api/v2
    framework >= netstandard20

    nuget MySql.Data < 7.0.0
    nuget MySqlConnector
    nuget Newtonsoft.Json
    nuget Npgsql
    nuget Oracle.ManagedDataAccess
    nuget FirebirdSql.Data.FirebirdClient
    nuget System.Data.SQLite.Core
    nuget System.Data.SQLite.Linq
    // nuget Microsoft.Data.Sqlite.Core.Backport // Needed if we want currently Core support on Linux.


    